.themeToggleButton {
  width: 50px;
  height: 40px;
  font-size: 12px;
  background-color: #218838;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.themeToggleButton:hover {
  opacity: 0.8;
}
