.taskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid green;
  margin-bottom: 10px;
}

.checkbox {
  margin-right: 10px;
  transform: scale(2);
  accent-color: #218838;
}

.taskText {
  flex: 1;
  margin-right: 10px;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

.taskText {
  flex: 1;
  margin-right: 10px;
}

.editInput {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.editButton {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #ffc107;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.editButton:hover {
  background-color: #e0a800;
}

.saveButton {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.saveButton:hover {
  background-color: #218838;
}

.deleteButton {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #c82333;
}

.deleteAnimation {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #dc3545;
  transition: width 1s linear, height 1s linear;
}

.undoButton {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ffcc00;
  color: #000; 
  border: none; 
  padding: 10px 20px;
  border-radius: 4px; 
  cursor: pointer; 
  font-size: 16px; 
  transition: background-color 0.3s ease; 
  transform: translate(-50%, -50%); 
  z-index: 1000;
}

.undoButton:hover {
  background-color: #e6b800;
}