h2 {
  margin: 0;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}

.modal {
  top: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 16px;
  width: 100%;
  max-width: 500px;
  height: 250px;
  position: relative;
  background-color: var(--modal-background);
  color: var(--modal-text);
}
