:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell;
  --code-font: source-code-pro, Menlo, Monaco, Consolas, "Courier New";

  --background-color: #ffffff;
  --text-color: #151515;
  --modal-background: #ffffff;
  --modal-text: #151515;
  --checkbox-filter: brightness(1);
}

.dark {
  --background-color: #333333;
  --text-color: #d7d7d7;
  --modal-background: #555555;
  --modal-text: #9b9b9b;
  --checkbox-filter: brightness(0.3);
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s, color 0.5s;
}

code {
  font-family: var(--code-font);
}

input,
textarea,
select {
  background-color: var(--background-color);
  color: var(--text-color);
}
